* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: hsla(12, 100%, 99%, 1);
}

.presentation {
    background-color: hsla(192, 75%, 59%, 1);
    padding: 10px;
    text-align: center;
    font-size: 18px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    -webkit-box-shadow: 2px 6px 22px 1px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 2px 6px 22px 1px rgba(0, 0, 0, 0.49);
    box-shadow: 2px 6px 22px 1px rgba(0, 0, 0, 0.49);
}

.presentation h1 {
    font-size: 32px;
}

.menu {
    float: left;
    width: 20%;
    text-align: center;
}

.menu a:link {
    background-color: hsla(191, 98%, 66%, 1);
    padding: 20px;
    display: block;
    text-decoration: none;
    width: 100%;
}

.menu a:hover {
    background-color: rgb(10, 157, 194);
}

.main {
    float: left;
    width: 80%;
    padding: 40px;
    background-color: hsla(170, 100%, 37%, 1);
    -webkit-box-shadow: -11px 11px 22px 1px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: -11px 11px 22px 1px rgba(0, 0, 0, 0.49);
    box-shadow: -11px 11px 22px 1px rgba(0, 0, 0, 0.49);
}

.footer {
    background-color: hsla(192, 75%, 59%, 1);
    padding: 10px;
    text-align: center;
    font-size: 18px;
    -webkit-box-shadow: 2px -11px 22px 1px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 2px -11px 22px 1px rgba(0, 0, 0, 0.49);
    box-shadow: 2px -11px 22px 1px rgba(0, 0, 0, 0.49);
}

@media only screen and (max-width:620px) {
    /* For mobile phones: */
    .menu,
    .main {
        width: 100%;
    }
}